.canvas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.canvas {
  border: 4px solid #ffffff;
  cursor: crosshair;
  background: #000000;
}

.clear-canvas-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #bababa;
  color: rgb(0, 0, 0);
  border: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.clear-canvas-button:hover {
  background-color: #a0a0a0;
}

.clear-canvas-button:active {
  scale: 0.98;
}
